#trialOne
{
    width: 150px;
    display: flex;
    background-color:#a0eae5;
    border: white; 
}
.d-flexone
{
    border-radius:2%;           /*Side-Bar*/
    height: 695px;
    background-color: #053B50;
}
.d-flex
{
    height: 100px;  
}
.mainPage
{
    background-image: linear-gradient(#053B50,#64CCC5);
    display:flex
}
.card
{
    max-height: 300px;
    margin: 15px;
}
.Page
{
    height: 200px;
    margin: 1px;
    display: flex;
    flex-wrap: wrap;
}
.greenButtons
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100px;
}
.card-title
{
    text-align: center;
}
#checkButton
{
    margin-top: 0px;
}
.card-body
{
    width: 500px;
}
.fs-3
{
    color: white;
    /*background-color: #021921;*/
}
