.Options
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: center;
    font-size: larger;
    gap: 45px;
    padding-left: 15px;
    padding: 10px;
}
.cardOne
{
    display: flex;
    flex-direction: row;
}
.card-img-top
{
    height: 200px;
    border-radius: 2%;
}
.card
{
    padding: 2px ;
}

body
{
    background-image: linear-gradient(#053B50,#64CCC5);
    height: 725px;
}
.d-flexone
{
    border-radius:2%;           /*Side-Bar*/
    height: 695px;
    background-color: #053B50;
}
.d-flex
{
    height: 100px;  
}
#StudBtn
{
    width: 150px;
    display: flex;
    background-color:red;  
    border: red;
}
#trialOne
{
    width: 150px;
    display: flex;
    background-color:#a0eae5;
    border: white; 
}
.fs-3
{
    color:white;
}
#txt
{
    text-align: center;
}
.card{
    display: flex;
    align-self: center;
    margin: 15px;
    width: 300px;
}
.card-header
{
    font-size: 2rem;
    font-weight: bold;
}