
#trialOne
{
    background-color:#a0eae5;
    border: white; 
    display: flex;
    width: 200px;
}
.d-flexone
{
    border-radius:2%;           /Side-Bar/
    height : 800px;
    background-color: #053B50;
}
.d-flex
{
    height: 100px;  
}
.bdy
{
    background-image: linear-gradient(#053B50,whitesmoke);
}
.fs-3,.fs-1
{
    color: white;
}
.TopBar
{
    height: 100px;
    width:85rem;
    background-color: lightblue;
    text-align: left,center;
}
.main
{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(#053B50,whitesmoke);
}
.RightPage
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.bdy{
    display:flex;
    flex-direction: row;
}
.card
{
    margin: 25px;
}
.btn
{
    align-items: center;
}
.form-group
{
    margin-top: 25px;
}
#reg
{
    margin-top: 50px;
    margin-left:35%;
}
#facData
{
    display:flex;
    gap: 10px;
}